@mixin add-ev-font($weight, $style, $name, $file-path) {
	@font-face {
		font-family: $name;
		src: url($file-path + '.eot');
		src: url($file-path + '.eot') format('embedded-opentype'),
		url($file-path + '.woff') format('woff'),
		url($file-path + '.ttf') format('truetype');
		font-weight: $weight;
		font-style: $style;
	}
}

// @include add-ev-font(600, normal,'CharterC', '../fonts/CharterC/CharterC-Bold');
// @include add-ev-font(700, normal,'CharterC', '../fonts/CharterC/CharterC-Bold');
