
@import "_normalize";
@import "_fonts";
@import "_variables";




body {
	position: relative;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-ms-overflow-style: scrollbar;

	font-family: sans-serif;
	font-size: 16px;

	box-sizing: border-box;
}

* {
	box-sizing: inherit;
	&:before,
	&:after {
		box-sizing: inherit;
	}
}

.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 600px;
	&-main {
		margin-top: 60px;
	}
}

.timer {
	&-numbers {
		text-align: center;
		font-family: monospace;
		font-size: 50px;
	}
	&-buttons {
		text-align: center;
		margin: 30px 0;
		button {
			display: block;
			width: 100px;
			height: 40px;
			font-size: 13px;
			margin: 0 auto 10px;
			cursor: pointer;
		}

		#stopTimer {
			visibility: hidden;
		}
		.text-start {
			display: inline;
		}
		.text-pause {
			display: none;
		}
		.text-continue {
			display: none;
		}
	}
	&.running {
		.timer-buttons {
			#stopTimer {
				visibility: visible;
			}
			.text-start {
				display: none;
			}
			.text-pause {
				display: inline;
			}
			.text-continue {
				display: none;
			}
		}
	}
	&.paused {
		.timer-buttons {
			.text-start {
				display: none;
			}
			.text-pause {
				display: none;
			}
			.text-continue {
				display: inline;
			}
		}
	}
}


